<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Guitar Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
    <section id="header">
        <a href="../templates/index.html"><img src="../styles/images/logo.gif" alt="logo" class="logo" /></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="../templates/index.html">Home</a></li>
                <li><a href="../templates/shop.html">Shop</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
                <li id="lg-bag">
                    <a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                </li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="../styles/images/about/a6.jpg" alt="about-image" />
        <div>
            <h2>Who We Are?</h2>
            <p>
                We are students of UVM and this is our Final project for class CS205
            </p>

            <abbr title="">This is Guitar Marketplace where you can sell and buy guitars</abbr>
        <br /><br />

        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
            This is Guitar Marketplace where you can sell and buy guitars</marquee>
      </div>
    </section>

    <section id="about-app" class="section-p1">
      <h1>Visit Our <a href="#">Store</a></h1>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0lYClb-_DK8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>

    <section id="feature" class="section-p1">
      <div class="fe-box">
        <img src="../styles/images/features/f1.png" alt="feature" />
        <h6>Free Shipping</h6>
      </div>
      <div class="fe-box">
        <img src="../styles/images/features/f2.png" alt="feature" />
        <h6>Online Order</h6>
      </div>
      <div class="fe-box">
        <img src="../styles/images/features/f3.png" alt="feature" />
        <h6>Save Money</h6>
      </div>
      <div class="fe-box">
        <img src="../styles/images/features/f4.png" alt="feature" />
        <h6>Promotions</h6>
      </div>
      <div class="fe-box">
        <img src="../styles/images/features/f6.png" alt="feature" />
        <h6>24/7 Support</h6>
      </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="../styles/images/logo.gif" alt="logo" />
            <h4>Contact</h4>
            <p>
                <strong>Address:</strong> CS205, UVM, Burlington, Vermont
            </p>
            <p><strong>Phone:</strong> +01 2222 345 / (+90) 01 2345 6789</p>
            <p><strong>Hours:</strong> 10:00 - 21:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Term & Conditions</a>
            <a href="#">Contact us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Tack My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="../styles/images/pay/app.jpg" alt="app store" />
                <img src="../styles/images/pay/play.jpg" alt="google play" />
            </div>
            <p>Secured Payment Gateways</p>
            <img src="../styles/images/pay/pay.png" alt="pay" />
        </div>

        <div class="copyright">
            <p>© 2022, UVM CS205 Team-7</p>
        </div>
    </footer>

    <script src="../scripts/script.js"></script>
</body>

</html>