<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guitar Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
    <section id="header">
        <a href="../templates/index.html"><img src="../styles/images/logo.gif" alt="logo" class="logo" /></a>

        <div>
            <ul id="navbar">
                <li><a href="../templates/index.html">Home</a></li>
                <li><a href="../templates/shop.html">Shop</a></li>
                <li><a class="active" href="../templates/about.html">About</a></li>
                <li id="lg-bag">
                    <a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                </li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header" class="about-header">
        <h2>#KnowUs</h2>
        <p>Students of Jason Hibbeslot</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="../styles/images/about/a6.jpg" alt="about-image" />
        <div>
            <h2>Who We Are?</h2>
            <p>
                We are students of UVM and this is our Final project for class CS205
            </p>

            <abbr title="">This is Guitar Marketplace where you can sell and buy guitars</abbr>
        <br /><br />

        <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%">
            This is Guitar Marketplace where you can sell and buy guitars</marquee>
      </div>
    </section>

    <section id="about-app" class="section-p1">
      <h1>Visit Our <a href="#">Store</a></h1>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0lYClb-_DK8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </section>

    <section id="feature" class="section-p1">
      <div class="fe-box">
        <img src="../styles/images/features/f1.png" alt="feature" />
        <h6>Free Shipping</h6>
      </div>
      <div class="fe-box">
        <img src="../styles/images/features/f2.png" alt="feature" />
        <h6>Online Order</h6>
      </div>
      <div class="fe-box">
        <img src="../styles/images/features/f3.png" alt="feature" />
        <h6>Save Money</h6>
      </div>
      <div class="fe-box">
        <img src="../styles/images/features/f4.png" alt="feature" />
        <h6>Promotions</h6>
      </div>
      <div class="fe-box">
        <img src="../styles/images/features/f6.png" alt="feature" />
        <h6>24/7 Support</h6>
      </div>
    </section>

     <section id="page-header" class="contact-header">
        <h2 style="color:#000000">#Contact Us</h2>
        <p style="color:#000000">LEAVE A MESSAGE, We love to hear from you!</p>
    </section>
    <section id="filter"></section>

    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>GET IN TOUCH</span>
            <h2>Visit one of our Store locations or contact us today</h2>
            <h3>Head Office</h3>
            <div>
                <li>
                    <i class="fa-regular fa-map"></i>
                    <p>University of Vermont, Burlington, Vermont, 05405</p>
                </li>
                <li>
                    <i class="fa-regular fa-envelope"></i>
                    <p>contact@example.com</p>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>+90 555 252 7788 - +90 555 252 4455</p>
                </li>
                <li>
                    <i class="fa-regular fa-clock"></i>
                    <p>Monday to Saturday: 9.00am to 7.00pm</p>
                </li>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2846.820274391626!2d-73.19865238485247!3d44.47785660673218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cca7a5bbde60cf1%3A0x2df5d83e5a01e9b2!2sUniversity%20of%20Vermont!5e0!3m2!1sen!2sus!4v1667069877484!5m2!1sen!2sus"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <section id="form-details">
        <form action="">
            <span>LEAVE A MESSAGE</span>
            <h2>We love to hear from you</h2>
            <input type="text" placeholder="Your Name" />
            <input type="text" placeholder="Email" />
            <input type="text" placeholder="Subject" />
            <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
            <button class="normal">Submit</button>
        </form>

        <div class="people">
            <span class="managers">OUR MANAGERS</span>
            <div>
                <img src="../styles/images/people/nikhil.jpg" alt="members" />
                <p>
                    <span>Nikhil Choppa</span> Senior Manager <br /> Phone: +000 123 000 77 88 <br /> Email: contact@example.com
                </p>
            </div>
            <div>
                <img src="../styles/images/people/Max.jpeg" alt="members" />
                <p>
                    <span>Max Perrotto</span> Senior Manager <br /> Phone: +000 123 000 77 88 <br /> Email: contact@example.com
                </p>
            </div>
            <div>
                <img src="../styles/images/people/Christian.jpeg" alt="members" />
                <p>
                    <span>Christian Rhodes</span> Senior Manager <br /> Phone: +000 123 000 77 88 <br /> Email: contact@example.com
                </p>
            </div>
            <div>
                <img src="../styles/images/people/aiedon.jpeg" alt="members" />
                <p>
                    <span>Aidan Brown</span> Senior Manager <br /> Phone: +000 123 000 77 88 <br /> Email: contact@example.com
                </p>
            </div>
        </div>
    </section>

    <footer class="section-p1">
        <div class="copyright">
            <p>© 2022, UVM CS205 Team-7</p>
        </div>
    </footer>

    <script src="../scripts/script.js"></script>
</body>

</html>