<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Guitar Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
    <section id="header">
        <a href="../templates/index.html"><img src="../styles/images/logo.gif" alt="logo" class="logo" /></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="../templates/index.html">Home</a></li>
                <li><a href="../templates/shop.html">Shop</a></li>
                <li><a href="../templates/blog.html">Blog</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
                <li id="lg-bag">
                    <a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                </li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header" class="blog-header">
        <h2>#readmore</h2>
        <p>Read all case studies about our products!</p>
    </section>

    <section id="blog">
        <div class="blog-box">
            <div class="blog-img">
                <img src="https://cdn.mos.cms.futurecdn.net/Kxj5EzfdNeWwQ8BsgYeo7R-1920-80.png.webp" alt="blog" />
            </div>
            <div class="blog-details">
                <h4>Solar Guitars announces signature bass for The Haunted’s Jonas Björler</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quas omnis nulla animi ipsam! Quam labore eos veniam exercitationem eius totam, necessitatibus aliquid. Maxime, repudiandae...
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>10/2022</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="https://cdn.mos.cms.futurecdn.net/KvaxpQmYALmw5trX59ZQPe-1920-80.jpg.webp" alt="blog" />
            </div>
            <div class="blog-details">
                <h4>Best bass guitars 2022: long and short-scale bass options for beginners to pros</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quas omnis nulla animi ipsam! Quam labore eos veniam exercitationem eius totam, necessitatibus aliquid. Maxime, repudiandae...
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>11/2022</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="https://cdn.mos.cms.futurecdn.net/ERitqABcSJVjAqeP2AnhG6-1920-80.jpg.webp" alt="blog" />
            </div>
            <div class="blog-details">
                <h4>G&L launches highly limited ASAT Classic Thinline model</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quas omnis nulla animi ipsam! Quam labore eos veniam exercitationem eius totam, necessitatibus aliquid. Maxime, repudiandae...
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>09/2022</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="https://cdn.mos.cms.futurecdn.net/dGHCh5t8p2dxtqet7mewz6-1920-80.jpg.webp" alt="blog" />
            </div>
            <div class="blog-details">
                <h4>Steve Vai to auction off electric guitars and gear from across his career</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quas omnis nulla animi ipsam! Quam labore eos veniam exercitationem eius totam, necessitatibus aliquid. Maxime, repudiandae...
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>10/2022</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="https://cdn.mos.cms.futurecdn.net/exgY7juGDVKVumcU5wUnR7-1920-80.jpg.webp" alt="blog" />
            </div>
            <div class="blog-details">
                <h4>VegaTrem’s new VT2 Teletrem lets you easily equip a whammy bar to Fender Telecasters</h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quas omnis nulla animi ipsam! Quam labore eos veniam exercitationem eius totam, necessitatibus aliquid. Maxime, repudiandae...
                </p>
                <a href="#">CONTINUE READING</a>
            </div>
            <h1>11/2022</h1>
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Sign Up For Newsletters</h4>
            <p>
                Get E-mail updates about our latest shop and
                <span>special offers</span>
            </p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email adress" />
            <button class="normal">Sign Up</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="../styles/images/logo.gif" alt="logo" />
            <h4>Contact</h4>
            <p>
                <strong>Address:</strong> CS205, UVM, Burlington, Vermont
            </p>
            <p><strong>Phone:</strong> +01 2222 345 / (+90) 01 2345 6789</p>
            <p><strong>Hours:</strong> 10:00 - 21:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Term & Conditions</a>
            <a href="#">Contact us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Tack My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="../styles/images/pay/app.jpg" alt="app store" />
                <img src="../styles/images/pay/play.jpg" alt="google play" />
            </div>
            <p>Secured Payment Gateways</p>
            <img src="../styles/images/pay/pay.png" alt="pay" />
        </div>

        <div class="copyright">
            <p>© 2022, UVM CS205 Team-7</p>
        </div>
    </footer>

    <script src="../scripts/script.js"></script>
</body>

</html>