<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Guitar Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
    <section id="header">
        <a href="../templates/index.html"><img src="../styles/images/logo.png" alt="logo" class="logo" /></a>

        <div>
            <ul id="navbar">
                <li><a class="active" href="../templates/index.html">Home</a></li>
                <li><a href="../templates/shop.html">Shop</a></li>
                <li><a href="../templates/blog.html">Blog</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/contact.html">Contact</a></li>
                <li id="lg-bag">
                    <a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
                </li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header" class="cart-header">
        <h2>#cart</h2>
        <p>Add your coupon code & SAVE upto 50%!</p>
    </section>

    <section id="cart" class="section-p1">
        <table width="100%">
            <thead>
                <tr>
                    <td>REMOVE</td>
                    <td>IMAGE</td>
                    <td>PRODUCT</td>
                    <td>PRICE</td>
                    <td>QUANTITY</td>
                    <td>SUBTOTAL</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#"><i class="far fa-times-circle"></i></a>
                    </td>
                    <td>
                        <img src="../styles/images/products/n1.png" alt="product" />
                    </td>
                    <td>Guitar 1</td>
                    <td>$1198.00</td>
                    <td><input type="number" value="1" /></td>
                    <td>$1198.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="#"><i class="far fa-times-circle"></i></a>
                    </td>
                    <td>
                        <img src="../styles/images/products/n2.png" alt="product" />
                    </td>
                    <td>Guitar 2</td>
                    <td>$1198.00</td>
                    <td><input type="number" value="1" /></td>
                    <td>$1198.00</td>
                </tr>
                <tr>
                    <td>
                        <a href="#"><i class="far fa-times-circle"></i></a>
                    </td>
                    <td>
                        <img src="../styles/images/products/n3.png" alt="product" />
                    </td>
                    <td>Guitar 3</td>
                    <td>$1198.00</td>
                    <td><input type="number" value="1" /></td>
                    <td>$1198.00</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section id="cart-add" class="section-p1">
        <div id="coupon">
            <h3>Apply Coupon</h3>
            <div>
                <input type="text" placeholder="Enter Your Coupon" />
                <button class="normal">Apply</button>
            </div>
        </div>

        <div id="subtotal">
            <h3>Cart Total</h3>
            <table>
                <tr>
                    <td>Cart Subtotal</td>
                    <td>$ 3594</td>
                </tr>
                <tr>
                    <td>Shipping</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td>
                        <strong>Total</strong>
                    </td>
                    <td>
                        <strong>$ 3594</strong>
                    </td>
                </tr>
            </table>
            <button class="normal" onclick="window.location.href='../templates/purchased.html';">Proceed to checkout</button>
        </div>
    </section>

    <footer class="section-p1">
        <div class="col">
            <img class="logo" src="../styles/images/logo.png" alt="logo" />
            <h4>Contact</h4>
            <p>
                <strong>Address:</strong> CS205, UVM, Burlington, Vermont
            </p>
            <p><strong>Phone:</strong> +01 2222 345 / (+90) 01 2345 6789</p>
            <p><strong>Hours:</strong> 10:00 - 21:00, Mon - Sat</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-pinterest-p"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Term & Conditions</a>
            <a href="#">Contact us</a>
        </div>
        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign In</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Tack My Order</a>
            <a href="#">Help</a>
        </div>
        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="../styles/images/pay/app.jpg" alt="app store" />
                <img src="../styles/images/pay/play.jpg" alt="google play" />
            </div>
            <p>Secured Payment Gateways</p>
            <img src="../styles/images/pay/pay.png" alt="pay" />
        </div>

        <div class="copyright">
            <p>© 2022, UVM CS205 Team-7</p>
        </div>
    </footer>

    <script src="../scripts/script.js"></script>
</body>

</html>