<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guitar Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
    <section id="header">
        <a href="../templates/index.html"><img src="../styles/images/logo.gif" alt="logo" class="logo" /></a>

        <div>
            <ul id="navbar">
                <li><a href="../templates/index.html">Home</a></li>
                <li><a class="active" href="../templates/shop.html">Shop</a></li>
                <li><a href="../templates/about.html">About</a></li>
                <li><a href="../templates/login.html">Log In</a></li>
                <li id="lg-bag"><a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
                <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="../templates/cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="page-header">
        <h2>All Guitars</h2>
        <p>New, Old, Electic, Acoustic, and more!</p>
    </section>

    <section id="product1" class="section-p1">
<!--        <h2>Featured Products</h2>-->
<!--        <p> Collection Design</p>-->
        <div class="pro-container">

<!--            <h2>{{ products[1]['title'] }}</h2>-->
<!--            <h2>{{ products[1]['price'] }}</h2>-->
<!--            <h2>{{ products[1]['image'] }}</h2>-->
            {% for i in products %}
<!--                <div class="pro" onclick="window.location.href='../templates/product.html';">-->
                <div class="pro" onclick="window.location.href='/loadproduct?id={{ products[i]['id'] }}';">
                    <img src="{{ products[i]['image'] }}" alt="product" />
                    <div class="des">
                        <span>UVM</span>
                        <h5>{{ products[i]['title'] }}</h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4>{{ products[i]['price'] }}</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
            {% endfor %}

        </div>
    </section>

<!--    <section id="pagination" class="section-p1">-->
<!--        <a href="#">1</a>-->
<!--        <a href="#">2</a>-->
<!--        <a href="#"><i class="fa-solid fa-arrow-right-long"></i></a>-->
<!--    </section>-->

    <footer class="section-p1">
        <div class="copyright">
            <p>© 2022, UVM CS205 Team-7</p>
        </div>
    </footer>

    <script src="../scripts/script.js"></script>
</body>

</html>