@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*----------------------- General Settings -----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 15px;
    font-weight: 600;
    padding: 12px 24px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .24s;
}

button.white {
    font-size: 14px;
    font-weight: 600;
    padding: 9px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: all .24s;
    border-radius: 2px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}


/*----------------------- Header Start -----------------------*/

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    padding: 20px 80px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
    transition: all 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


/*----------------------- Home Page -----------------------*/
.search {
  display: flex;
  align-items: center;
  background-color: #2ea39b;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: white;
}

.message-parent {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	margin-top: 1rem;
    margin-bottom: 1rem;
	line-height: 40px;
}

.message {
	font-family: 'League Spartan', sans-serif;
	text-align: center;
	text-justify: auto;
	background-color: rgb(83,108,254,.8);
	height: 40px;
	width: 380px;
	border: black;
	border-radius: 50px;
}

#hero {
    background-image: url("images/hero4.png");
    height: 90vh;
    width: 100%;
    position:relative;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#hero button {
    background-image: url("images/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    margin: 15px 0;
    transition: all .3s ease;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.25)
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 5px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    margin: 15px 0;
    transition: all .25s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/*----------------------- Footer Section -----------------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 18px;
    padding-bottom: 20px;
}

footer p {
    font-size: 16px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 16px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
    transition: all .3s ease;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    cursor: pointer;
    transition: all .2s ease;
}

footer .install .row img:hover {
    transform: scale(0.98);
    border: 1px solid #099188;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

.row h3 {
    padding: 1rem 0 1rem 0;
}

.section-checkout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.checkout-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.checkout-column p {
    margin: 2rem;
}


/*----------------------- Shop Page ----------------------- */

#page-header {
    background-image: url("images/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    padding: 14px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}


/*--------------------- Single Product ---------------------*/

#pro-details {
    display: flex;
    margin-top: 20px;
}

#pro-details .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.small-img {
    border-radius: 5px;
}

.small-img-col:hover {
    transform: scale(1.04);
}

.small-img.focus {
    filter: brightness(.73);
    transition: all .4s ease;
}

#pro-details .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#pro-details .single-pro-details h6 {
    font-size: 16px;
}

#pro-details .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#pro-details .single-pro-details h2 {
    font-size: 26px;
}

#pro-details .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

#pro-details .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#pro-details .single-pro-details input:focus {
    outline: none;
}

#pro-details .single-pro-details button {
    background-color: #088178;
    color: #fff;
    border: 2px solid transparent;
}

#pro-details .single-pro-details button:hover {
    background-color: #fff;
    color: #088178;
    border-color: #088178;
}

#pro-details .single-pro-details span {
    line-height: 25px;
    color: #3f4e48;
    text-align: justify;
}


/*--------------------- About Page ---------------------*/

#page-header.about-header {
    background-image: url("images/about/banner.png");
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/*--------------------- Contact Page ---------------------*/

#page-header.contact-header {
    background-image: url("images/contact-page.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    justify-content: flex-end;
    position: relative;
}

#filter {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 55vh;
    opacity: 0.4;
    left: 0;
    top: 0;
}

#page-header h2,
#page-header p {
    z-index: 9;
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 18px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 20px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 16px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: #fff;
    border: 1px solid transparent;
    transition: .3s;
}

#form-details form button:hover {
    background-color: #fff;
    color: #088178;
    border-color: #088178;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div:first-of-type {
    padding-top: 50px;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 16px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 19px;
    font-weight: 600;
    color: #000;
}

.people span.managers {
    font-size: 20px;
}


/*--------------------- Cart Page ---------------------*/

#cart {
    overflow-x: auto;
}

#page-header.cart-header {
    background-image: url("images/payment-page.jpg");
    background-size: cover;
    background-position: center;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table td:nth-child(5) input:hover {
    cursor: pointer;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    padding: 15px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    font-size: 15px;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button {
    background-color: #088178;
    color: #fff;
    border: 2px solid transparent;
    transition: .3s;
    padding: 8.5px 18px;
}

.subtotal-form .subtotal-button {
    background-color: #088178;
    color: #fff;
    border: 2px solid transparent;
    transition: .3s;
    padding: 8.5px 18px;
    margin-top: 1rem;
}

#coupon button:hover,
#subtotal button:hover {
    background-color: #fff;
    color: #088178;
    border-color: #088178;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 15px;
}

/*--------------------- Media Query (max-width:800px) ---------------------*/

@media (max-width:800px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.3);
        padding: 80px 0 0 10px;
        transition: .3s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }
    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }
    #hero {
        height: 70vh;
        width: 100%;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #feature {
        justify-content: center;
    }
    #feature .fe-box {
        margin: 15px 15px;
    }
    #product1 .pro-container {
        justify-content: center;
    }
    #product1 .pro {
        margin: 15px;
    }
    /* Contact-Page */
    #form-details {
        padding: 40px;
    }
    #form-details form {
        width: 50%;
    }
    #filter {
        height: 50vh;
    }
}


/*--------------------- Media Query (max-width:477px) ---------------------*/

@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }
    #header {
        padding: 10px 30px;
    }
    h2 {
        font-size: 38px;
    }
    h1 {
        font-size: 46px;
    }
    h4 {
        font-size: 28px;
        font-weight: 500;
    }
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }
    #feature {
        justify-content: space-between;
    }
    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }
    #product1 .pro {
        width: 100%;
    }
    #banner {
        height: 40vh;
    }
    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }
    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }
    #banner3 .banner-box h2 {
        line-height: 2rem;
        font-weight: 800;
    }
    #newsletter {
        padding: 40px 20px;
    }
    #newsletter .form {
        width: 100%;
    }
    #newsletter p {
        font-size: 18px;
        font-weight: 600;
        color: #818ea0;
    }
    footer .copyright {
        text-align: start;
    }
    /* Single Product-Page */
    #pro-details {
        display: flex;
        flex-direction: column;
    }
    #pro-details .single-pro-image {
        width: 100%;
    }
    #pro-details .single-pro-details {
        width: 100%;
        padding-top: 30px;
    }
    #pro-details .single-pro-details select {
        padding: 10px 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    #pro-details .single-pro-details input {
        width: 50px;
        height: 40px;
    }

    /* About-Page */
    #about-head {
        flex-direction: column;
    }
    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }
    #about-head div {
        padding-left: 0px;
    }
    #about-head div p {
        font-size: 18px;
        text-align: justify;
    }
    #about-app h1 {
        line-height: 50px;
    }
    #about-app .video {
        width: 100%;
    }
    /* Contact-Page */
    #filter {
        height: 47vh;
    }
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }
    #contact-details .details h2,
    #form-details form h2 {
        font-size: 30px;
        line-height: 35px;
        padding: 20px 0;
    }
    #contact-details .details h2,
    #form-details form h2 {
        font-size: 26px;
        line-height: 30px;
        padding: 20px 0;
    }
    #contact-details .details h3 {
        font-size: 20px;
        padding-bottom: 0px;
        color: #4c4c4c;
    }
    #contact-details .details li i {
        font-size: 14px;
        padding-right: 9px;
    }
    #contact-details .map {
        width: 100%;
        height: 380px;
    }
    #form-details {
        margin: 10px;
        padding: 30px 10px 10px 10px;
        flex-wrap: wrap;
    }
    #form-details form {
        width: 100%;
        margin-bottom: 30px;
    }
    #form-details form input,
    #form-details form textarea {
        padding: 16px 12px;
        font-size: 16px;
    }
    #form-details form button {
        padding: 12px 16px;
        display: flex;
        justify-content: flex-end;
    }
    #form-details .people {
        margin-top: 20px;
    }
    #form-details .people div:first-of-type {
        padding-top: 30px;
    }
    /* Cart-Page */
    #cart-add {
        flex-direction: column;
    }
    #coupon {
        width: 100%;
        text-align: center;
    }
    #subtotal {
        width: 100%;
        padding: 20px;
    }
}